<% provide(:title, "Edit Budget") %>
<h1>Editing Budget</h1>

<%= render 'form', budget: @budget %>


<div class="links">

  <%= link_to 'view', @budget, class:'fa fa-eye' %> |
  <%= link_to 'Back', budgets_path, class:' fa fa-arrow-left' %>

</div>

