<h1>Editing Base Item</h1>

<%= render 'form', base_item: @base_item %>



<div class="links">
<%= link_to 'View', @base_item , class:'fa fa-eye'%> |
<%= link_to 'Back', base_items_path, class:'fa fa-arrow-left' %>
</div>